.sp {
  @include sprite-icon-common;
  display: block;
  overflow: hidden;
  background-repeat: no-repeat;
  width: 0;
  height: 0;
  color: transparent;
  font-size: 0;
  line-height: 0;
}

.sp_space {
  @include sprite-icon-icon($space);
}
