@import '../sprite/scss/sprite_png.scss';

$pixelRatio: 2;

@mixin sprite-icon-common {
  width: $spritesheet-width / $pixelRatio;
  height: $spritesheet-height / $pixelRatio;
  background-image: url('../img/sprite/'+$spritesheet-image);
  background-size: ($spritesheet-width / $pixelRatio) ($spritesheet-height / $pixelRatio);
}

@mixin sprite-icon-width($sprite) {
  width: nth($sprite, 5) / $pixelRatio;
}

@mixin sprite-icon-height($sprite) {
  height: nth($sprite, 6) / $pixelRatio;
}

@mixin sprite-icon-position($sprite) {
  $sprite-offset-x: nth($sprite, 3) / $pixelRatio;
  $sprite-offset-y: nth($sprite, 4) / $pixelRatio;

  background-position: $sprite-offset-x $sprite-offset-y;
}

@mixin sprite-icon-icon($sprite) {
  @include sprite-icon-position($sprite);
  @include sprite-icon-width($sprite);
  @include sprite-icon-height($sprite);
}

.spp {
  @include sprite-icon-common;
  display: block;
  overflow: hidden;
  background-repeat: no-repeat;
  width: 0;
  height: 0;
  color: transparent;
  font-size: 0;
  line-height: 0;
}

.spp_space {
  @include sprite-icon-icon($space);
}
